doctype html
html(lang="en")
  head
    title Chatty-Home
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Chatty App - Never Ending Communication
    p The best and worst messaging app you've ever used!
